* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
}

nav {
    width: 90%;
    min-height: 12vh;
    background-color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 1em;
}

li {
    list-style-type: none;
    margin: 0 1.5em;
}

.links-nav {
    text-decoration: none;
    color: #7B0000;
}

.links-nav:hover {
    color: #000;
}

.menu-list {
    display: flex;
    flex-direction: row;
}

.default-container {
    width: 90%;
    height: 75vh;
    background-color: #fff;
    border-radius: 30px;
    margin: auto;
    margin-top: 2em;
    display: flex;
}

.index-img,
.index-txt {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-img img {
    width: 460px;
    height: 360px;
}

.index-txt {
    padding: 3em;
    display: flex;
    align-items: self-start;
}

.index-txt h1 {
    font-size: 2.3em;
    font-family: 'Kalam', cursive;
    color: #7B0000;
    text-align: left;
}

.index-txt p {
    font-size: 1.5em;
    color: #000;
}

.portfolio-container,
.stacks-container,
.contact-container {
    flex-direction: column;
    padding: 2em 3em 3em 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
}

h2 {
    min-height: 5vh;
    font-family: 'Kalam', cursive;
    color: #7B0000;
    margin-bottom: 1em;
}

.projects-list,
.stacks-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-item {
    width: 350px;
    height: auto;
    text-align: center;
}

.project-item img{
    width: 350px;
    height: 320px;
    margin-bottom: 0.5em;
    border-radius: 30px;
}

.stacks-list {
    padding: 3em;
}

.stacks-container img {
    width: 230px;
    height: 230px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email-linkedin-txt,
.contact-forms {
    width: 49%;
}

.email-linkedin-txt {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    padding: 3em;
}

.icon-link-contact {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-link-contact img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.links-contacts {
    text-decoration: none;
    color: #000;
}

hr {
    width: 5px;
    height: 80%;
    background-color: #7B0000;
    border: none;
}

.contact-forms {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.contact-forms input,
.contact-forms textarea {
    height: 30px;
    margin: 0.5em 0 1em 0;
}

.contact-forms button {
    width: 90px;
    height: 30px;
    background-color: transparent;
    border: solid 1px #7B0000;
    color: #7B0000;
    cursor: pointer;
}

.contact-forms button:hover {
    background-color: #7B0000;
    color: #fff;
}